<!DOCTYPE html>
<html lang="en">
    {{html:head}}
<body>
    {{html:header}}
    <section class="hero" role="region" aria-label="Hero Section">
        <div class="hero-content">
            <video autoplay muted loop class="bg" aria-label="{{background.aria}}">
                <source src="{{background.url}}" type="{{background.type}}">
                <!--fallback-->
                {{background.fallback}}
              </video>
            <img src="{{heroheader.img}}" alt="{{heroheader.alt}}" aria-label="{{heroheader.aria}}">
            <h1>{{about.title}}</h1>
            <p>{{about.text}}</p>
        </div>
    </section>
    {{html:footer}}
</body>
</html>