<header>
    <div class="container" aria-label="Header">
        <div class="logo">
            <a href="index.html" aria-label="LeachUK Home">LeachUK</a>
        </div>
        <nav>
            <ul>
                <li><a href="{{url:home}}" aria-label="Go Home">Home</a></li>
                <li><a href="{{url:about}}" aria-label="Learn more about LeachUK">About</a></li>
                <li><a href="{{from:links.Soundcloud.url}}" aria-label="{{from:links.Soundcloud.aria}}">Music</a></li>
            </ul>
        </nav>
    </div>
</header>